server {
    listen         80;
    listen [::]:80 default_server ipv6only=on;
    server_name    localhost;

    location ^~ /.well-known {
        allow all;
        root  /data/letsencrypt/;
    }
}